{% extends 'base-layout.html' %}

{% block content %}
<br /><br /><br />
<div class="customers">
    <h1 class="text-center text-info">Customer List</h1>
    <table class="table table-hover table-sm table-bordered mx-auto" style="width: 1000px;">
        <thead class="thead-dark">
            <tr class= "text-center">
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Company Name</th>
                <th scope="col">Address</th>
                <th scope="col">Registered on</th>
                <th scope="col">Subscribed</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <div class="customers-list">
                <tr>
                    <td>
                        <a href="{% url 'accounts:customerdetail' customerid=customer.c_customerid %}">
                            {{ customer.c_customerid }}
                        </a>
                    </td>
                    <td>{{ customer.firstname }} {{ customer.lastname }}</td>
                    <td>{{ customer.c_companyname }}</td>
                    <td>{{ customer.c_streetaddress1 }} {{ customer.c_streetaddress2 }},
                        {{ customer.c_city }} {{ customer.c_province }} - {{ customer.c_postalcode }}
                        {{ customer.c_country }}</td>
                    <td>{{ customer.c_dateregistered }}</td>
                    {% if customer.c_issubscribed %}
                    <td align="center" style="text-align:center; font-size:100%; font-weight:bold; color:green;">
                        Subscribed</td>
                    {% else %}
                    <td align="center" style="text-align:center; font-size:100%; font-weight:bold; color:red;">
                        Not Subscribed</td>
                    {% endif %}
                    <td align="center" style="text-align:center; font-size:100%; font-weight:bold; color:red;">
                        <a class="btn btn-primary"
                            href="{% url 'accounts:customerdetail' customerid=customer.c_customerid %}">
                                Detail
                        </a>
                    </td>
                </tr>
            </div>
            {% endfor %}
        </tbody>
    </table>

</div>
<br /><br /><br /><br />

{% endblock %}