{% extends 'base-layout.html' %}

{% block content %}
<div class="models">
    {% for model in models %}
    <div class="model">
        <div class="card mb-3">
            <img class="card-img-top" src="{{ model.thumb.url }}" alt="Cellibini Bike">
            <div class="card-body">
                <h5 class="card-title">{{ model.modeltype }}</h5>
                <p class="card-text"><a href="{% url 'tasks:detail' modelid=model.modelid%}">{{ model.modelid }}</a></p>
                <p class="card-text">{{ model.modelname }}</p>
                <!-- <p class="card-text"><small class="text-muted">Invented on: {{ model.date }}</small></p> -->
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}