{% extends 'base-layout.html' %}

{% block content %}
<br /><br /><br />
<div class="customers">
    <h1 class="text-center text-info">Model List</h1>
<div class="models">
    {% for BikeModel in BikeModels %}
    <div class="model">
        <div class="card mb-3">
            <img class="card-img-top" src="{{ BikeModel.bm_thumb.url }}" alt="Cellibini Bike">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'bike:bikemodeldetail' modelid=BikeModel.bm_modelid%}">{{ BikeModel.bm_modelname }}</a></h5>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}