<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'accounts:login' %}">Cellibini Bicycle Company</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
            aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'tasks:list' %}" id="userMenu"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                        <a class="dropdown-item" href="{% url 'accounts:profile' %}">My Profile</a>
                        <a class="dropdown-item" href="{% url 'accounts:change_password' %}">Change password</a>
                        <div class="dropdown-divider"></div>
                         <form class="dropdown-item" action="{% url 'accounts:logout' %}" method="post">
                             {% csrf_token %}
                             <button class="dropdown-item" type=" submit">Logout</button>
                         </form>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Task/ Supplier List
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'tasks:list' %}">Task List</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'masterInventory:supplierlist' %}">Supplier List</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage Users
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'accounts:ecreate' %}">Create Employee</a>
                        <a class="dropdown-item" href="{% url 'accounts:ccreate' %}">Create Customer</a>
                        <a class="dropdown-item" href="{% url 'customers:cocreate' %}">Create Customer Order</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'accounts:elist' %}">Employee List</a>
                        <a class="dropdown-item" href="{% url 'accounts:clist' %}">Customer List</a>
                        <a class="dropdown-item" href="http://127.0.0.1:8000/admin/">Admin</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bike Models
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'bike:bikelist'  %}">Bike List</a>
                        <a class="dropdown-item" href="{% url 'bike:bikemodelslist' %}">Bike Models List</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Master Inventory
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'masterInventory:inventorylist' %}">Inventory List</a>
                        <a class="dropdown-item" href="{% url 'masterInventory:inventoryorder' %}">Inventory Order</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{% url 'masterInventory:inventoryinvoicelist' %}">Inventory
                              Invoice List</a>
                    </div>
                </li>
            </ul>
            {% else %}
            <form class="form-inline ml-auto">
                <a href="{% url 'accounts:login' %}" class="btn btn-outline-secondary">Log in</a>
            </form>
            {% endif %}
        </div>
    </div>
</nav>